.env

# general
_ignore*
_seed.py
.venv*
*.db

# editors
.idea
.vim
.vscode
*.code-workspace
.DS_Store

# test
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
/htmlcov

# build
__pycache__
.pdm-python
*.egg-info
/build
/dist
node_modules/

# rye
.python-version
requirements-dev.lock
requirements.lock
